.elemento {
  background: blue;
  height: 20vh;
  width: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.container {
  display: flex;
  justify-content: flex-end;
}