body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
.wrapper{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.elemento {
  background: blue;
  height: 60vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
#elemento2 {
  height: 40vh;
}